{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'list.css'%}">
    <title>Vehicles List</title>
</head>
<body>
<div class="container">
    <h1>List of Vehicles</h1>

    <table class="center">

        <tr>
            <th>NUMBER</th>
            <th>TYPE</th>
            <th>MODEL</th>
            <th>DESCRIPTION</th>
            <th>UPDATE</th>

        </tr>
        {% for x in vehicle %}
        <tr>
            <td>{{x.vehicle_number}}</td>
            <td>{{x.vehicle_type}}</td>
            <td>{{x.vehicle_model}}</td>
            <td>{{x.vehicle_description}}</td>
            <td><a href="{% url 'admin-update' x.id %}"><i class="fa fa-edit"></i></a></td>


        </tr>

        {% endfor %}
    </table>
    <a href="{% url 'logout' %}">Logout</a>
</div>
</body>
</html>